<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group pull-right" data-toggle="buttons">
        <label class="btn btn-primary badge">
          <input type="radio" class="js-tag" name="tags" value="">&nbsp;&nbsp;
          </input>
        </label>
        {{#each tags}}
        {{#if this.name}}
        <label class="btn badge">
          <input type="radio" class="js-tag" name="tags" value="{{this.name}}">{{this.name}}</input>
        </label>
        {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
  <div class="list-group js-sessions">
    <!-- sessions -->
  </div>

  <div class="row pull-right">
    <div class="col-xs-12">
      <p>{{model.description}}</p>
    </div>
  </div>

  {{#if isAdmin}}
  <div class="row pull-right">
    <div class="col-xs-12">
      <br/>
      <a class="btn btn-success btn-responsive js-edit" href="#">
        <span class="glyphicon glyphicon-edit"></span>&emsp;{{resources.Text_Edit}}
      </a>
      <a class="btn btn-success btn-responsive js-report" href="#">
        <span class="glyphicon glyphicon-list"></span>&emsp;{{resources.Text_Report}}
      </a>
    </div>
  </div>
  {{/if}}
</div>