<div class="container">
  {{#each model.sessions}}
  <div id="{{this.id}}" class="list-group-item js-session" style="page-break-after: always;">
    <div>
      <strong>
        <div class="glyphicon glyphicon-bookmark"></div>
        &emsp;&emsp;{{../model.title}} <br/>
        <div class="glyphicon icon-presentation"></div>
        &emsp;&emsp;{{this.title}}
      </strong>&emsp;<span class="badge">{{this.averageRate}}</span>
      <button class="btn btn-lg btn-success pull-right noprint js-print" data-sessionId="{{this.id}}"><div class="glyphicon glyphicon-print"></div>&emsp;Print</button>
    </div>
    {{#each this.tags}}<span class="badge pull-right">{{this}}</span>{{/each}}
    <div>
      <div class="glyphicon glyphicon-user"></div>
      &emsp;&emsp;{{seperatelist this.speakerList}}
    </div>
    <div>
      <div class="glyphicon glyphicon-time"></div>
      &emsp;&emsp;{{dateFormat this.startDate format="HH:mm"}}-{{dateFormat this.endDate format="HH:mm"}}
      &emsp;&emsp;<div class="glyphicon glyphicon-map-marker"></div>
      &emsp;&emsp;{{../model.location}}/ {{this.location}}
    </div>
    {{#if this.feedbackAllowed}}
    <div>
      <hr/>
      <ol>
        <li>
          {{this.quesstionTitle0}}:&emsp;{{#unlessCond this.maxRateQuestion0 "0"}}{{this.averageRateAnswer0}}/ {{this.maxRateQuestion0}}{{/unlessCond}}
        </li>
        <li>
          {{this.quesstionTitle1}}:&emsp;{{#unlessCond this.maxRateQuestion1 "0"}}{{this.averageRateAnswer1}}/ {{this.maxRateQuestion1}}{{/unlessCond}}
        </li>
        <li>
          {{this.quesstionTitle2}}:&emsp;{{#unlessCond this.maxRateQuestion2 "0"}}{{this.averageRateAnswer2}}/ {{this.maxRateQuestion2}}{{/unlessCond}}
        </li>
        <li>
          {{this.quesstionTitle3}}:&emsp;{{#unlessCond this.maxRateQuestion3 "0"}}{{this.averageRateAnswer3}}/ {{this.maxRateQuestion3}}{{/unlessCond}}
        </li>
        <li>
          {{this.quesstionTitle4}}:&emsp;{{#unlessCond this.maxRateQuestion4 "0"}}{{this.averageRateAnswer4}}/ {{this.maxRateQuestion4}}{{/unlessCond}}
        </li>
        <li>
          {{this.quesstionTitle5}}:&emsp;{{#unlessCond this.maxRateQuestion5 "0"}}{{this.averageRateAnswer5}}/ {{this.maxRateQuestion5}}{{/unlessCond}}
        </li>
        <li>
          {{this.quesstionTitle6}}:&emsp;{{#unlessCond this.maxRateQuestion6 "0"}}{{this.averageRateAnswer6}}/ {{this.maxRateQuestion6}}{{/unlessCond}}
        </li>
        <li>
          {{this.quesstionTitle7}}:&emsp;{{#unlessCond this.maxRateQuestion7 "0"}}{{this.averageRateAnswer7}}/ {{this.maxRateQuestion7}}{{/unlessCond}}
        </li>
        <li>
          {{this.quesstionTitle8}}:&emsp;{{#unlessCond this.maxRateQuestion8 "0"}}{{this.averageRateAnswer8}}/ {{this.maxRateQuestion8}}{{/unlessCond}}
        </li>
        <li>
          {{this.quesstionTitle9}}:&emsp;{{#unlessCond this.maxRateQuestion9 "0"}}{{this.averageRateAnswer9}}/ {{this.maxRateQuestion9}}{{/unlessCond}}
        </li>
      </ol>
    </div>
    {{#each this.feedbacks}}
    <div>
      <h4>
        <span class="label label-default">
          Feedback {{dateFormat this.createDate format="MM.DD.YYYY hh:mm"}}
        </span>
        &emsp;<span class="badge">{{this.averageRate}}</span>
      </h4>
      <ol>
        <li data-toggle="tooltip" data-placement="bottom" title="{{../quesstionTitle0}}">
          {{this.answer0}}{{#unlessCond this.maxRateQuestion0 "0"}}/ {{this.maxRateQuestion0}}{{/unlessCond}}
        </li>
        <li data-toggle="tooltip" data-placement="bottom" title="{{../quesstionTitle1}}">
          {{this.answer1}}{{#unlessCond this.maxRateQuestion1 "0"}}/ {{this.maxRateQuestion1}}{{/unlessCond}}
        </li>
        <li data-toggle="tooltip" data-placement="bottom" title="{{../quesstionTitle2}}">
          {{this.answer2}}{{#unlessCond this.maxRateQuestion2 "0"}}/ {{this.maxRateQuestion2}}{{/unlessCond}}
        </li>
        <li data-toggle="tooltip" data-placement="bottom" title="{{../quesstionTitle3}}">
          {{this.answer3}}{{#unlessCond this.maxRateQuestion3 "0"}}/ {{this.maxRateQuestion3}}{{/unlessCond}}
        </li>
        <li data-toggle="tooltip" data-placement="bottom" title="{{../quesstionTitle4}}">
          {{this.answer4}}{{#unlessCond this.maxRateQuestion4 "0"}}/ {{this.maxRateQuestion4}}{{/unlessCond}}
        </li>
        <li data-toggle="tooltip" data-placement="bottom" title="{{../quesstionTitle5}}">
          {{this.answer5}}{{#unlessCond this.maxRateQuestion5 "0"}}/ {{this.maxRateQuestion5}}{{/unlessCond}}
        </li>
        <li data-toggle="tooltip" data-placement="bottom" title="{{../quesstionTitle6}}">
          {{this.answer6}}{{#unlessCond this.maxRateQuestion6 "0"}}/ {{this.maxRateQuestion6}}{{/unlessCond}}
        </li>
        <li data-toggle="tooltip" data-placement="bottom" title="{{../quesstionTitle7}}">
          {{this.answer7}}{{#unlessCond this.maxRateQuestion7 "0"}}/ {{this.maxRateQuestion7}}{{/unlessCond}}
        </li>
        <li data-toggle="tooltip" data-placement="bottom" title="{{../quesstionTitle8}}">
          {{this.answer8}}{{#unlessCond this.maxRateQuestion8 "0"}}/ {{this.maxRateQuestion8}}{{/unlessCond}}
        </li>
        <li data-toggle="tooltip" data-placement="bottom" title="{{../quesstionTitle9}}">
          {{this.answer9}}{{#unlessCond this.maxRateQuestion9 "0"}}/ {{this.maxRateQuestion9}}{{/unlessCond}}
        </li>
      </ol>
    </div>
    {{/each}}
    {{/if}}
  </div>
  {{/each}}

  <textarea>
    {{json}}
  </textarea>
  <iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
</div>