<div>
  <div class="glyphicon glyphicon-comment"></div>
  &emsp;&emsp;<strong>{{model.title}}</strong>
</div>
{{#each model.tags}}<span class="badge pull-right">{{this}}</span>{{/each}}
<div class="glyphicon glyphicon-time">
  &emsp;{{dateFormat model.startDate format="HH:mm"}}-{{dateFormat model.endDate format="HH:mm"}}
</div>
<div>
  <div class="glyphicon glyphicon-user"></div>
  &emsp;&emsp;{{#each model.speakers}}{{this}} {{/each}}
</div>
