<div class="container">

  <div class="list-group" style="margin-top:39px;">
    <div id="session-item-view" class="list-group-item">
      <div>
        <div class="glyphicon glyphicon-comment"></div>
        &emsp;&emsp;<strong>{{model.title}}</strong>
      </div>
      {{#each model.tags}}<span class="badge pull-right">{{this}}</span>{{/each}}
      <div class="glyphicon glyphicon-time">
        &emsp;{{dateFormat model.startDate format="HH:mm"}}-{{dateFormat model.endDate format="HH:mm"}}
      </div>
      &emsp;&emsp;<div class="glyphicon glyphicon-user">
        &emsp;{{#each model.speakers}}{{this}} {{/each}}
      </div>
      <br/><br/>
      <p>{{model.description}}</p>
    </div>
  </div>

  <form>
    {{#if feedbackdefinition.active0}}
    <div class="row">
      {{#ifCond feedbackdefinition.questionType0 0}}
      <div class="col-md-3">{{feedbackdefinition.title0}} </div>
      <div class="col-md-9">
        <textarea name="answer0">{{feedback.answer0}}</textarea>
      </div>
      {{/ifCond}}
      {{#ifCond feedbackdefinition.questionType0 1}}
      <div class="col-md-3">{{feedbackdefinition.title0}}</div>
      <div class="col-md-9">
        <input type="text" name="answer0" maxlength="2048" value="{{feedback.answer0}}"/>
      </div>
      {{/ifCond}}
      {{#ifCond feedbackdefinition.questionType0 10}}
      <div class="col-xs-4 col-md-3">{{feedbackdefinition.title0}}</div>
      <div class="col-xs-8 col-md-9">
        <!--<input type="number" data-max="3" data-min="1"
             name="answer0" id="answer0" class="rating" value="{{feedback.answer0}}" />-->
        <input name="answer0" type="range" min="0" max="3" value="{{feedback.answer0}}" step="0.5" id="backing0"/>
        <div class="rateit bigstars" id="rateit0" data-rateit-backingfld="#backing0" data-rateit-starwidth="32" data-rateit-starheight="32" data-rateit-resetable="false"></div>
      </div>
      {{/ifCond}}
      {{#ifCond feedbackdefinition.questionType0 11}}
      <div class="col-xs-4 col-md-3">{{feedbackdefinition.title0}}</div>
      <div class="col-xs-8 col-md-9">
        <!--<input type="number" data-max="5" data-min="1"
             name="answer0" id="answer0" class="rating" value="{{feedback.answer0}}" />-->
        <input name="answer0" type="range" min="0" max="5" value="{{feedback.answer0}}" step="0.5" id="backing0"/>
        <div class="rateit bigstars" id="rateit0" data-rateit-backingfld="#backing0" data-rateit-starwidth="32" data-rateit-starheight="32" data-rateit-resetable="false"></div>
      </div>
      {{/ifCond}}
      {{#ifCond feedbackdefinition.questionType0 12}}
      <div class="col-xs-4 col-md-3">{{feedbackdefinition.title0}}</div>
      <div class="col-xs-8 col-md-9">
        <!--<input type="number" data-max="10" data-min="1"
             name="answer0" id="answer0" class="rating" value="{{feedback.answer0}}" />-->
        <input name="answer0" type="range" min="0" max="10" value="{{feedback.answer0}}" step="0.5" id="backing0"/>
        <div class="rateit bigstars" id="rateit0" data-rateit-backingfld="#backing0" data-rateit-starwidth="32" data-rateit-starheight="32" data-rateit-resetable="false"></div>
      </div>
      {{/ifCond}}
    </div>
    {{/if}}

    {{#if feedbackdefinition.active1}}
    <div class="row">
      {{#ifCond feedbackdefinition.questionType1 0}}
      <div class="col-md-3">{{feedbackdefinition.title1}}</div>
      <div class="col-md-9">
        <textarea name="answer1">{{feedback.answer1}}</textarea>
      </div>
      {{/ifCond}}
      {{#ifCond feedbackdefinition.questionType1 1}}
      <div class="col-md-3">{{feedbackdefinition.title1}}</div>
      <div class="col-md-9">
        <input type="text" name="answer1" maxlength="2048" value="{{feedback.answer1}}"/>
      </div>
      {{/ifCond}}
      {{#ifCond feedbackdefinition.questionType1 10}}
      <div class="col-xs-4 col-md-3">{{feedbackdefinition.title1}}</div>
      <div class="col-xs-8 col-md-9">
        <!--<input type="number" data-max="3" data-min="1"
             name="answer1" id="answer1" class="rating" value="{{feedback.answer1}}" />-->
        <input name="answer1" type="range" min="0" max="3" value="{{feedback.answer1}}" step="0.5" id="backing1"/>
        <div class="rateit bigstars" id="rateit1" data-rateit-backingfld="#backing1" data-rateit-starwidth="32" data-rateit-starheight="32" data-rateit-resetable="false"></div>
      </div>
      {{/ifCond}}
      {{#ifCond feedbackdefinition.questionType1 11}}
      <div class="col-xs-4 col-md-3">{{feedbackdefinition.title1}}</div>
      <div class="col-xs-8 col-md-9">
        <!--<input type="number" data-max="5" data-min="1"
             name="answer1" id="answer1" class="rating" value="{{feedback.answer1}}" />-->
        <input name="answer1" type="range" min="0" max="5" value="{{feedback.answer1}}" step="0.5" id="backing1"/>
        <div class="rateit bigstars" id="rateit1" data-rateit-backingfld="#backing1" data-rateit-starwidth="32" data-rateit-starheight="32" data-rateit-resetable="false"></div>
      </div>
      {{/ifCond}}
      {{#ifCond feedbackdefinition.questionType1 12}}
      <div class="col-xs-4 col-md-3">{{feedbackdefinition.title1}}</div>
      <div class="col-xs-8 col-md-9">
        <!--<input type="number" data-max="10" data-min="1"
             name="answer1" id="answer1" class="rating" value="{{feedback.answer1}}" />-->
        <input name="answer1" type="range" min="0" max="10" value="{{feedback.answer1}}" step="0.5" id="backing1"/>
        <div class="rateit bigstars" id="rateit1" data-rateit-backingfld="#backing1" data-rateit-starwidth="32" data-rateit-starheight="32" data-rateit-resetable="false"></div>
      </div>
      {{/ifCond}}
    </div>
    {{/if}}

    {{#if feedbackdefinition.active2}}
    <div class="row">
      {{#ifCond feedbackdefinition.questionType2 0}}
      <div class="col-md-3">{{feedbackdefinition.title2}}</div>
      <div class="col-md-9">
        <textarea name="answer2">{{feedback.answer2}}</textarea>
      </div>
      {{/ifCond}}
      {{#ifCond feedbackdefinition.questionType2 1}}
      <div class="col-md-3">{{feedbackdefinition.title2}}</div>
      <div class="col-md-9">
        <input type="text" name="answer2" maxlength="2048" value="{{feedback.answer2}}"/>
      </div>
      {{/ifCond}}
      {{#ifCond feedbackdefinition.questionType2 10}}
      <div class="col-xs-4 col-md-3">{{feedbackdefinition.title2}}</div>
      <div class="col-xs-8 col-md-9">
        <!--<input type="number" data-max="3" data-min="1"
             name="answer2" id="answer2" class="rating" value="{{feedback.answer2}}" />-->
        <input name="answer2" type="range" min="0" max="3" value="{{feedback.answer2}}" step="0.5" id="backing2"/>
        <div class="rateit bigstars" id="rateit2" data-rateit-backingfld="#backing2" data-rateit-starwidth="32" data-rateit-starheight="32" data-rateit-resetable="false"></div>
      </div>
      {{/ifCond}}
      {{#ifCond feedbackdefinition.questionType2 11}}
      <div class="col-xs-4 col-md-3">{{feedbackdefinition.title2}}</div>
      <div class="col-xs-8 col-md-9">
        <!--<input type="number" data-max="5" data-min="1"
             name="answer2" id="answer2" class="rating" value="{{feedback.answer2}}" />-->
        <input name="answer2" type="range" min="0" max="5" value="{{feedback.answer2}}" step="0.5" id="backing2"/>
        <div class="rateit bigstars" id="rateit2" data-rateit-backingfld="#backing2" data-rateit-starwidth="32" data-rateit-starheight="32" data-rateit-resetable="false"></div>
      </div>
      {{/ifCond}}
      {{#ifCond feedbackdefinition.questionType2 12}}
      <div class="col-xs-4 col-md-3">{{feedbackdefinition.title2}}</div>
      <div class="col-xs-8 col-md-9">
        <!--<input type="number" data-max="10" data-min="1"
             name="answer2" id="answer2" class="rating" value="{{feedback.answer2}}" />-->
        <input name="answer2" type="range" min="0" max="10" value="{{feedback.answer2}}" step="0.5" id="backing2"/>
        <div class="rateit bigstars" id="rateit2" data-rateit-backingfld="#backing2" data-rateit-starwidth="32" data-rateit-starheight="32" data-rateit-resetable="false"></div>
      </div>
      {{/ifCond}}
    </div>
    {{/if}}

    {{#if feedbackdefinition.active3}}
    <div class="row">
      {{#ifCond feedbackdefinition.questionType3 0}}
      <div class="col-md-3">{{feedbackdefinition.title3}}</div>
      <div class="col-md-9">
        <textarea name="answer3">{{feedback.answer3}}</textarea>
      </div>
      {{/ifCond}}
      {{#ifCond feedbackdefinition.questionType3 1}}
      <div class="col-md-3">{{feedbackdefinition.title3}}</div>
      <div class="col-md-9">
        <input type="text" name="answer3" maxlength="2048" value="{{feedback.answer3}}"/>
      </div>
      {{/ifCond}}
      {{#ifCond feedbackdefinition.questionType3 10}}
      <div class="col-xs-4 col-md-3">{{feedbackdefinition.title3}}</div>
      <div class="col-xs-8 col-md-9">
        <!--<input type="number" data-max="3" data-min="1"
             name="answer3" id="answer3" class="rating" value="{{feedback.answer3}}" />-->
        <input name="answer3" type="range" min="0" max="3" value="{{feedback.answer3}}" step="0.5" id="backing3"/>
        <div class="rateit bigstars" id="rateit3" data-rateit-backingfld="#backing3" data-rateit-starwidth="32" data-rateit-starheight="32" data-rateit-resetable="false"></div>
      </div>
      {{/ifCond}}
      {{#ifCond feedbackdefinition.questionType3 11}}
      <div class="col-xs-4 col-md-3">{{feedbackdefinition.title3}}</div>
      <div class="col-xs-8 col-md-9">
        <!--<input type="number" data-max="5" data-min="1"
             name="answer3" id="answer3" class="rating" value="{{feedback.answer3}}" />-->
        <input name="answer3" type="range" min="0" max="5" value="{{feedback.answer3}}" step="0.5" id="backing3"/>
        <div class="rateit bigstars" id="rateit3" data-rateit-backingfld="#backing3" data-rateit-starwidth="32" data-rateit-starheight="32" data-rateit-resetable="false"></div>
      </div>
      {{/ifCond}}
      {{#ifCond feedbackdefinition.questionType3 12}}
      <div class="col-xs-4 col-md-3">{{feedbackdefinition.title3}}</div>
      <div class="col-xs-8 col-md-9">
        <!--<input type="number" data-max="10" data-min="1"
             name="answer3" id="answer3" class="rating" value="{{feedback.answer3}}" />-->
        <input name="answer3" type="range" min="0" max="10" value="{{feedback.answer3}}" step="0.5" id="backing3"/>
        <div class="rateit bigstars" id="rateit3" data-rateit-backingfld="#backing3" data-rateit-starwidth="32" data-rateit-starheight="32" data-rateit-resetable="false"></div>
      </div>
      {{/ifCond}}
    </div>
    {{/if}}

    {{#if feedbackdefinition.active4}}
    <div class="row">
      {{#ifCond feedbackdefinition.questionType4 0}}
      <div class="col-md-3">{{feedbackdefinition.title4}}</div>
      <div class="col-md-9">
        <textarea name="answer4">{{feedback.answer4}}</textarea>
      </div>
      {{/ifCond}}
      {{#ifCond feedbackdefinition.questionType4 1}}
      <div class="col-md-3">{{feedbackdefinition.title4}}</div>
      <div class="col-md-9">
        <input type="text" name="answer4" maxlength="2048" value="{{feedback.answer4}}"/>
      </div>
      {{/ifCond}}
      {{#ifCond feedbackdefinition.questionType4 10}}
      <div class="col-xs-4 col-md-3">{{feedbackdefinition.title4}}</div>
      <div class="col-xs-8 col-md-9">
        <!--<input type="number" data-max="3" data-min="1"
             name="answer4" id="answer4" class="rating" value="{{feedback.answer4}}" />-->
        <input name="answer4" type="range" min="0" max="3" value="{{feedback.answer4}}" step="0.5" id="backing4"/>
        <div class="rateit bigstars" id="rateit4" data-rateit-backingfld="#backing4" data-rateit-starwidth="32" data-rateit-starheight="32" data-rateit-resetable="false"></div>
      </div>
      {{/ifCond}}
      {{#ifCond feedbackdefinition.questionType4 11}}
      <div class="col-xs-4 col-md-3">{{feedbackdefinition.title4}}</div>
      <div class="col-xs-8 col-md-9">
        <!--<input type="number" data-max="5" data-min="1"
             name="answer4" id="answer4" class="rating" value="{{feedback.answer4}}" />-->
        <input name="answer4" type="range" min="0" max="5" value="{{feedback.answer4}}" step="0.5" id="backing4"/>
        <div class="rateit bigstars" id="rateit4" data-rateit-backingfld="#backing4" data-rateit-starwidth="32" data-rateit-starheight="32" data-rateit-resetable="false"></div>
      </div>
      {{/ifCond}}
      {{#ifCond feedbackdefinition.questionType4 12}}
      <div class="col-xs-4 col-md-3">{{feedbackdefinition.title4}}</div>
      <div class="col-xs-8 col-md-9">
        <!--<input type="number" data-max="10" data-min="1"
             name="answer4" id="answer4" class="rating" value="{{feedback.answer4}}" />-->
        <input name="answer4" type="range" min="0" max="10" value="{{feedback.answer4}}" step="0.5" id="backing4"/>
        <div class="rateit bigstars" id="rateit4" data-rateit-backingfld="#backing4" data-rateit-starwidth="32" data-rateit-starheight="32" data-rateit-resetable="false"></div>
      </div>
      {{/ifCond}}
    </div>
    {{/if}}

    {{#if feedbackdefinition.active5}}
    <div class="row">
      {{#ifCond feedbackdefinition.questionType5 0}}
      <div class="col-md-3">{{feedbackdefinition.title5}}</div>
      <div class="col-md-9">
        <textarea name="answer5">{{feedback.answer5}}</textarea>
      </div>
      {{/ifCond}}
      {{#ifCond feedbackdefinition.questionType5 1}}
      <div class="col-md-3">{{feedbackdefinition.title5}}</div>
      <div class="col-md-9">
        <input type="text" name="answer5" maxlength="2048" value="{{feedback.answer5}}"/>
      </div>
      {{/ifCond}}
      {{#ifCond feedbackdefinition.questionType5 10}}
      <div class="col-xs-4 col-md-3">{{feedbackdefinition.title5}}</div>
      <div class="col-xs-8 col-md-9">
        <!--<input type="number" data-max="3" data-min="1"
             name="answer5" id="answer5" class="rating" value="{{feedback.answer5}}" />-->
        <input name="answer5" type="range" min="0" max="3" value="{{feedback.answer5}}" step="0.5" id="backing5"/>
        <div class="rateit bigstars" id="rateit5" data-rateit-backingfld="#backing5" data-rateit-starwidth="32" data-rateit-starheight="32" data-rateit-resetable="false"></div>
      </div>
      {{/ifCond}}
      {{#ifCond feedbackdefinition.questionType5 11}}
      <div class="col-xs-4 col-md-3">{{feedbackdefinition.title5}}</div>
      <div class="col-xs-8 col-md-9">
        <!--<input type="number" data-max="5" data-min="1"
             name="answer5" id="answer5" class="rating" value="{{feedback.answer5}}" />-->
        <input name="answer5" type="range" min="0" max="5" value="{{feedback.answer5}}" step="0.5" id="backing5"/>
        <div class="rateit bigstars" id="rateit5" data-rateit-backingfld="#backing5" data-rateit-starwidth="32" data-rateit-starheight="32" data-rateit-resetable="false"></div>
      </div>
      {{/ifCond}}
      {{#ifCond feedbackdefinition.questionType5 12}}
      <div class="col-xs-4 col-md-3">{{feedbackdefinition.title5}}</div>
      <div class="col-xs-8 col-md-9">
        <!--<input type="number" data-max="10" data-min="1"
             name="answer5" id="answer5" class="rating" value="{{feedback.answer5}}" />-->
        <input name="answer5" type="range" min="0" max="10" value="{{feedback.answer5}}" step="0.5" id="backing5"/>
        <div class="rateit bigstars" id="rateit5" data-rateit-backingfld="#backing5" data-rateit-starwidth="32" data-rateit-starheight="32" data-rateit-resetable="false"></div>
      </div>
      {{/ifCond}}
    </div>
    {{/if}}

    {{#if feedbackdefinition.active6}}
    <div class="row">
      {{#ifCond feedbackdefinition.questionType6 0}}
      <div class="col-md-3">{{feedbackdefinition.title6}}</div>
      <div class="col-md-9">
        <textarea name="answer6">{{feedback.answer6}}</textarea>
      </div>
      {{/ifCond}}
      {{#ifCond feedbackdefinition.questionType6 1}}
      <div class="col-md-3">{{feedbackdefinition.title6}}</div>
      <div class="col-md-9">
        <input type="text" name="answer6" maxlength="2048" value="{{feedback.answer6}}"/>
      </div>
      {{/ifCond}}
      {{#ifCond feedbackdefinition.questionType6 10}}
      <div class="col-xs-4 col-md-3">{{feedbackdefinition.title6}}</div>
      <div class="col-xs-8 col-md-9">
        <!--<input type="number" data-max="3" data-min="1"
             name="answer6" id="answer6" class="rating" value="{{feedback.answer6}}" />-->
        <input name="answer6" type="range" min="0" max="3" value="{{feedback.answer6}}" step="0.5" id="backing6"/>
        <div class="rateit bigstars" id="rateit6" data-rateit-backingfld="#backing6" data-rateit-starwidth="32" data-rateit-starheight="32" data-rateit-resetable="false"></div>
      </div>
      {{/ifCond}}
      {{#ifCond feedbackdefinition.questionType6 11}}
      <div class="col-xs-4 col-md-3">{{feedbackdefinition.title6}}</div>
      <div class="col-xs-8 col-md-9">
        <!--<input type="number" data-max="5" data-min="1"
             name="answer6" id="answer6" class="rating" value="{{feedback.answer6}}" />-->
        <input name="answer6" type="range" min="0" max="5" value="{{feedback.answer6}}" step="0.5" id="backing6"/>
        <div class="rateit bigstars" id="rateit6" data-rateit-backingfld="#backing6" data-rateit-starwidth="32" data-rateit-starheight="32" data-rateit-resetable="false"></div>
      </div>
      {{/ifCond}}
      {{#ifCond feedbackdefinition.questionType6 12}}
      <div class="col-xs-4 col-md-3">{{feedbackdefinition.title6}}</div>
      <div class="col-xs-8 col-md-9">
        <!--<input type="number" data-max="10" data-min="1"
             name="answer6" id="answer6" class="rating" value="{{feedback.answer6}}" />-->
        <input name="answer6" type="range" min="0" max="10" value="{{feedback.answer6}}" step="0.5" id="backing6"/>
        <div class="rateit bigstars" id="rateit6" data-rateit-backingfld="#backing6" data-rateit-starwidth="32" data-rateit-starheight="32" data-rateit-resetable="false"></div>
      </div>
      {{/ifCond}}
    </div>
    {{/if}}

    {{#if feedbackdefinition.active7}}
    <div class="row">
      {{#ifCond feedbackdefinition.questionType7 0}}
      <div class="col-md-3">{{feedbackdefinition.title7}}</div>
      <div class="col-md-9">
        <textarea name="answer7">{{feedback.answer7}}</textarea>
      </div>
      {{/ifCond}}
      {{#ifCond feedbackdefinition.questionType7 1}}
      <div class="col-md-3">{{feedbackdefinition.title7}}</div>
      <div class="col-md-9">
        <input type="text" name="answer7" maxlength="2048" value="{{feedback.answer7}}"/>
      </div>
      {{/ifCond}}
      {{#ifCond feedbackdefinition.questionType7 10}}
      <div class="col-xs-4 col-md-3">{{feedbackdefinition.title7}}</div>
      <div class="col-xs-8 col-md-9">
        <!--<input type="number" data-max="3" data-min="1"
             name="answer7" id="answer7" class="rating" value="{{feedback.answer7}}" />-->
        <input name="answer7" type="range" min="0" max="3" value="{{feedback.answer7}}" step="0.5" id="backing7"/>
        <div class="rateit bigstars" id="rateit7" data-rateit-backingfld="#backing7" data-rateit-starwidth="32" data-rateit-starheight="32" data-rateit-resetable="false"></div>
      </div>
      {{/ifCond}}
      {{#ifCond feedbackdefinition.questionType7 11}}
      <div class="col-xs-4 col-md-3">{{feedbackdefinition.title7}}</div>
      <div class="col-xs-8 col-md-9">
        <!--<input type="number" data-max="5" data-min="1"
             name="answer7" id="answer7" class="rating" value="{{feedback.answer7}}" />-->
        <input name="answer7" type="range" min="0" max="5" value="{{feedback.answer7}}" step="0.5" id="backing7"/>
        <div class="rateit bigstars" id="rateit7" data-rateit-backingfld="#backing7" data-rateit-starwidth="32" data-rateit-starheight="32" data-rateit-resetable="false"></div>
      </div>
      {{/ifCond}}
      {{#ifCond feedbackdefinition.questionType7 12}}
      <div class="col-xs-4 col-md-3">{{feedbackdefinition.title7}}</div>
      <div class="col-xs-8 col-md-9">
        <!--<input type="number" data-max="10" data-min="1"
             name="answer7" id="answer7" class="rating" value="{{feedback.answer7}}" />-->
        <input name="answer7" type="range" min="0" max="10" value="{{feedback.answer7}}" step="0.5" id="backing7"/>
        <div class="rateit bigstars" id="rateit7" data-rateit-backingfld="#backing7" data-rateit-starwidth="32" data-rateit-starheight="32" data-rateit-resetable="false"></div>
      </div>
      {{/ifCond}}
    </div>
    {{/if}}

    {{#if feedbackdefinition.active8}}
    <div class="row">
      {{#ifCond feedbackdefinition.questionType8 0}}
      <div class="col-md-3">{{feedbackdefinition.title8}}</div>
      <div class="col-md-9">
        <textarea name="answer8">{{feedback.answer8}}</textarea>
      </div>
      {{/ifCond}}
      {{#ifCond feedbackdefinition.questionType8 1}}
      <div class="col-md-3">{{feedbackdefinition.title8}}</div>
      <div class="col-md-9">
        <input type="text" name="answer8" maxlength="2048" value="{{feedback.answer8}}"/>
      </div>
      {{/ifCond}}
      {{#ifCond feedbackdefinition.questionType8 10}}
      <div class="col-xs-4 col-md-3">{{feedbackdefinition.title8}}</div>
      <div class="col-xs-8 col-md-9">
        <!--<input type="number" data-max="3" data-min="1"
             name="answer8" id="answer8" class="rating" value="{{feedback.answer8}}" />-->
        <input name="answer8" type="range" min="0" max="3" value="{{feedback.answer8}}" step="0.5" id="backing8"/>
        <div class="rateit bigstars" id="rateit8" data-rateit-backingfld="#backing8" data-rateit-starwidth="32" data-rateit-starheight="32" data-rateit-resetable="false"></div>
      </div>
      {{/ifCond}}
      {{#ifCond feedbackdefinition.questionType8 11}}
      <div class="col-xs-4 col-md-3">{{feedbackdefinition.title8}}</div>
      <div class="col-xs-8 col-md-9">
        <!--<input type="number" data-max="5" data-min="1"
             name="answer8" id="answer8" class="rating" value="{{feedback.answer8}}" />-->
        <input name="answer8" type="range" min="0" max="5" value="{{feedback.answer8}}" step="0.5" id="backing8"/>
        <div class="rateit bigstars" id="rateit8" data-rateit-backingfld="#backing8" data-rateit-starwidth="32" data-rateit-starheight="32" data-rateit-resetable="false"></div>
      </div>
      {{/ifCond}}
      {{#ifCond feedbackdefinition.questionType8 12}}
      <div class="col-xs-4 col-md-3">{{feedbackdefinition.title8}}</div>
      <div class="col-xs-8 col-md-9">
        <!--<input type="number" data-max="10" data-min="1"
             name="answer8" id="answer8" class="rating" value="{{feedback.answer8}}" />-->
        <input name="answer8" type="range" min="0" max="10" value="{{feedback.answer8}}" step="0.5" id="backing8"/>
        <div class="rateit bigstars" id="rateit8" data-rateit-backingfld="#backing8" data-rateit-starwidth="32" data-rateit-starheight="32" data-rateit-resetable="false"></div>
      </div>
      {{/ifCond}}
    </div>
    {{/if}}

    {{#if feedbackdefinition.active9}}
    <div class="row">
      {{#ifCond feedbackdefinition.questionType9 0}}
      <div class="col-md-3">{{feedbackdefinition.title9}}</div>
      <div class="col-md-9">
        <textarea name="answer9">{{feedback.answer9}}</textarea>
      </div>
      {{/ifCond}}
      {{#ifCond feedbackdefinition.questionType9 1}}
      <div class="col-md-3">{{feedbackdefinition.title9}}</div>
      <div class="col-md-9">
        <input type="text" name="answer9" maxlength="2048" value="{{feedback.answer9}}"/>
      </div>
      {{/ifCond}}
      {{#ifCond feedbackdefinition.questionType9 10}}
      <div class="col-xs-4 col-md-3">{{feedbackdefinition.title9}}</div>
      <div class="col-xs-8 col-md-9">
        <!--<input type="number" data-max="3" data-min="1"
             name="answer9" id="answer9" class="rating" value="{{feedback.answer9}}" />-->
        <input name="answer9" type="range" min="0" max="3" value="{{feedback.answer9}}" step="0.5" id="backing9"/>
        <div class="rateit bigstars" id="rateit9" data-rateit-backingfld="#backing9" data-rateit-starwidth="32" data-rateit-starheight="32" data-rateit-resetable="false"></div>
      </div>
      {{/ifCond}}
      {{#ifCond feedbackdefinition.questionType9 11}}
      <div class="col-xs-4 col-md-3">{{feedbackdefinition.title9}}</div>
      <div class="col-xs-8 col-md-9">
        <!--<input type="number" data-max="5" data-min="1"
             name="answer9" id="answer9" class="rating" value="{{feedback.answer9}}" />-->
        <input name="answer9" type="range" min="0" max="5" value="{{feedback.answer9}}" step="0.5" id="backing9"/>
        <div class="rateit bigstars" id="rateit9" data-rateit-backingfld="#backing9" data-rateit-starwidth="32" data-rateit-starheight="32" data-rateit-resetable="false"></div>
      </div>
      {{/ifCond}}
      {{#ifCond feedbackdefinition.questionType9 12}}
      <div class="col-xs-4 col-md-3">{{feedbackdefinition.title9}}</div>
      <div class="col-xs-8 col-md-9">
        <!--<input type="number" data-max="10" data-min="1"
             name="answer9" id="answer9" class="rating" value="{{feedback.answer9}}" />-->
        <input name="answer9" type="range" min="0" max="10" value="{{feedback.answer9}}" step="0.5" id="backing9"/>
        <div class="rateit bigstars" id="rateit9" data-rateit-backingfld="#backing9" data-rateit-starwidth="32" data-rateit-starheight="32" data-rateit-resetable="false"></div>
      </div>
      {{/ifCond}}
    </div>
    {{/if}}

    <div class="row">
      <div class="col-xs-7">&nbsp;</div>
      <div class="col-xs-5">
        <button class="btn btn-primary btn-lg pull-right js-submit">Save</button>
      </div>
    </div>
  </form>

</div>