<div class="container">
  <h3>Debug</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>To see the difference between static and fixed top navbars, just scroll.</p>
    
  <button class="js-triggerevent">trigger</button>
  <br/>user: {{user}} 
  <br/>roles: {{roles}}
  <br/>resources: {{resources.TestKey1}}
  <hr/>
  <input type="datetime-local"></input>
  <div id="form" class="well"></div>

  <div class="row pull-right">
    <div class="col-xs-12">
      <br/>
      <button class="btn btn-danger btn-responsive js-remove">
        <span class="glyphicon glyphicon-remove"></span>&emsp;{{resources.Text_Remove}}
      </button>
      <button class="btn btn-success btn-responsive js-submit">
        <span class="glyphicon glyphicon-save"></span>&emsp;{{resources.Text_Save}}
      </button>
    </div>
  </div>
</div>