<div>
  <div class="row">
    <div class="col-xs-5">
      <h2>{{title}}</h2>
      <p>{{model.message}}</p>
      <h3 style="color: #000000;">{{model.userName}}&emsp;/&emsp;{{model.password}}</h3>
      {{model.roles}}<br/>
      {{url}}
    </div>
    <div class="col-xs-3">
      <div id="qr{{model.userName}}"></div>
    </div>
    <div class="col-xs-4">
      <a id="qrlink{{model.userName}}" class="btn btn-success btn-small noprint">signin</a>
    </div>
  </div>
</div>
