<div class="container">

  <div class="row">
    <div class="col-xs-4 col-md-3 glyphicon glyphicon-time">
      {{dateFormat model.startDate format="HH:mm"}}-{{dateFormat model.endDate format="HH:mm"}}
    </div>
    <div class="col-xs-8 col-md-9 glyphicon glyphicon-user">
      {{#each model.speakers}}{{this}} {{/each}}
    </div>
  </div>

  <div class="row">
    &nbsp;
  </div>

    <form>

      <div class="row">
        <div class="col-xs-4 col-md-3">{{resources.Question1_Title}}</div>
        <div class="col-xs-8 col-md-9">
          <input type="number" data-max="5" data-min="1"
               name="rate1" id="rate1" class="rating" value="0" />
        </div>
      </div>

      <div class="row">
        <div class="col-xs-4 col-md-3">{{resources.Question2_Title}}</div>
        <div class="col-xs-8 col-md-9">
          <input type="number" data-max="5" data-min="1"
               name="rate2" id="rate2" class="rating" value="0" />
        </div>
      </div>


      <div class="row">
        <div class="col-xs-4 col-md-3">{{resources.Question3_Title}}</div>
        <div class="col-xs-8 col-md-9">
          <input type="number" data-max="5" data-min="1"
               name="rate3" id="rate3" class="rating" value="0" />
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">{{resources.Question4_Title}}</div>
          <div class="col-md-9">
            <textarea name="question4"></textarea>
          </div>
      </div>

      <div class="row">
        <div class="col-md-3">{{resources.Question5_Title}}</div>
          <div class="col-md-9">
            <textarea name="question5"></textarea>
          </div>
      </div>

      <div class="row">
        <div class="col-md-3">{{resources.Question6_Title}}</div>
          <div class="col-md-9">
            <textarea name="question6"></textarea>
          </div>
      </div>

      <div class="row">
        <div class="col-xs-7">&nbsp;</div>
        <div class="col-xs-5"><button class="btn btn-primary btn-lg pull-right js-submit">Save</button>
      </div>
    </form>

</div>