<div><strong>{{title}}</strong></div>
{{#each tags}}<span class="badge pull-right">{{this}}</span>{{/each}}
<div class="glyphicon glyphicon-time">
  {{dateFormat startDate format="HH:mm"}}-{{dateFormat endDate format="HH:mm"}}
</div>
<div class="glyphicon glyphicon-user">
  {{#each speakers}}{{this}} {{/each}}
</div>
